$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icmtax: "\e90e";
$icmtelegram: "\e90f";
$icmtelephone: "\e910";
$icmtwitter-logo-silhouette: "\e911";
$icmvk: "\e912";
$icmwhatsapp: "\e913";
$icmaddress: "\e914";
$icmanalysis: "\e915";
$icmarrow-pointing-to-right: "\e916";
$icmboxes: "\e917";
$icmbrokerage: "\e918";
$icmcalendar: "\e919";
$icmcheck-mark: "\e91a";
$icmclose-button: "\e91b";
$icmcontract: "\e91c";
$icmcredit-card: "\e91d";
$icmdown-arrow: "\e91e";
$icmdownload-arrow: "\e91f";
$icmemail: "\e920";
$icmenvelope: "\e921";
$icmfacebook: "\e922";
$icmfacebook-logo: "\e923";
$icmfeedback: "\e924";
$icmhome-stroyka: "\e925";
$icmhouse: "\e926";
$icmlaw: "\e927";
$icmlinkedin: "\e928";
$icmlinkedin-logo: "\e929";
$icmodnoklassniki: "\e92a";
$icmphone-call: "\e92b";
$icmright-arrow: "\e92c";
$icmArrow: "\e900";
$icmbillboard: "\e901";
$icmcreativity: "\e902";
$icmfacebook-logo1: "\e903";
$icmflyer: "\e904";
$icminstagram: "\e905";
$icmleft-arrow-min: "\e906";
$icmMail: "\e907";
$icmPhone: "\e908";
$icmpictures: "\e909";
$icmPlaceholder: "\e90a";
$icmplotter: "\e90b";
$icmsouvenir: "\e90c";
$icmtelegram1: "\e90d";

